version: "3.9"
services:
  go-service:
    build: ./go-service
    environment:
      GO_HTTP_PORT: "8081"
      GO_GRPC_PORT: "9091"
      JAVA_HTTP_BASE_URL: "http://java-service:8080"
      JAVA_GRPC_ADDR: "java-service:9090"
      GO_LOG_PATH: "/var/log/arms/app.log"
      APP_ENV: "dev"
      APP_VERSION: "1.0.0"
    volumes:
      - ./go-service/logs:/var/log/arms
    ports:
      - "8081:8081"
      - "9091:9091"

  java-service:
    build: ./java-service
    environment:
      JAVA_HTTP_PORT: "8080"
      JAVA_GRPC_PORT: "9090"
      GO_HTTP_BASE_URL: "http://go-service:8081"
      GO_GRPC_ADDR: "go-service:9091"
      APP_ENV: "dev"
      APP_VERSION: "1.0.0"
    ports:
      - "8080:8080"
      - "9090:9090"
    depends_on:
      - go-service
